html, body {height:100%; }



*::-moz-selection {
background:#f15a29; 
color:#ffffff;   
}
*::selection {
background:#f15a29;
color:#ffffff; 
}

.navbar{
	background:#fff;
	border: none;

}

.navbar li{
    border-bottom: 4px solid transparent;
    -webkit-transition: all .5s;
    transition: all .5s;
	color:#898989;
	padding-top:5px;


}
#link{
		color:#898989;
}
.navbar li:hover{
	border-bottom:4px solid #f15a29;
    -webkit-transition: all .5s;
    transition: all .5s;
}

#title1{
	
}
.navbar-toggle{
	background:#f15a29;
	border:#fff;
	height:50px;
	border-radius:3px;
}

.navbar-hover{
	background:#e15528;
	border:#fff;
	height:50px;
}


#logo{
	padding:18px 10px 0px 10px;
	max-width:100%;
}

#text{
	width:200px;
}

#title{ 
	max-width:100%;
	margin-bottom:15px;
	padding-top:5px;
}


#topictitle{
	padding:10px 0px;
	max-width:100%;
}

#topicos{
	margin-left:5%;
	margin-top:2%;
	margin-bottom:3%;
}

#topicos p{
	font-size:13px;
	text-align:justify;
}

#topicos li{
	font-size:13px;
	text-align:center;
	list-style:none;
}

.section-colored {
  background:#efefef;
  height:auto;
  margin-bottom:15px;
}

#nosso{
	float:left;
	padding:20px 0px;
	border-bottom:2px solid #f15a29;
	max-width:100%;
}

#nosso2{
	float:left;
	padding:20px 0px;
	border-bottom:2px solid #f15a29;
	max-width:100%;
}

#trabalhos{
	float:left;
	padding:20px 0px;
	max-width:100%;
}

#trabalhos2{
	float:left;
	padding:20px 0px;
	max-width:100%;
	display:none;
}

#apple{
	margin-left:-13%;
}

#apple img{
	margin-top:-8%;
	border-left:1px solid #aeaeae;
	padding:16px 10px 10px 10px ;
}

#appletext{
	text-align:right;
}

#roda{
	width:100%;
	height:40px;
	background:#efefef;
}

footer{
	width:100%;
	height:auto;
	background:#aeaeae;
	position:absolute;
	bottom:0;
	width:100%;
   font-family: 'Open Sans Condensed', sans-serif;
   font-size:16px;
   color:#898989;
   text-decoration: none;
}

#rhome{
		height:auto;
	background:#aeaeae;
}

#logo2{
	padding:13px 0px 0px 0px;
	max-width:100%;
}

#roda a{
	text-decoration:none;
}

#roda li{
	width:auto;
	display:inline;
	padding:11px 5px 13px 5px ;
	-webkit-transition: all .5s;
    transition: all .5s;
}

#roda li:hover{
	background:#dbdbdb;
	-webkit-transition: all .5s;
    transition: all .5s;
		
}

#menu2{
	margin-top:9px;
		
}

#logo3{
	display:none;
}



#socialmobile{
	margin-left:27%;
	display:none;
}

#socialmobile li{
	display:inline;
	float:left;
	margin-top:-1px;
}

#facebook{
	height:50px;
	width:50px;
	background:#aeaeae;
	border:1px solid #bababb;
	border-top:none;
	border-bottom:none;
}

#dombosco{
	padding-top:5px;
}


#social{
	float:right;
}

#social li{
	display:inline;
	float:left;
	margin-top:-1px;
}

#facebook1{
	height:50px;
	width:50px;
	background:#aeaeae;
	border:1px solid #bababb;
	border-top:none;
	border-bottom:none;
	margin-top:1px;
}

#facebook1:hover{
	background:#9d9d9d;
}

#rodapeli{
	float:right;
}

#rodapeli2{
	display:none;
}

#veja{
	max-width:100%;
	margin-bottom:5%;
	margin-top: -3%;
}

nav li{font-family: 'Open Sans Condensed', sans-serif;}



/* sobre o curso */

#quem1{
	height:75px;
	background:#f15a29;
}

#quem2{
	background:#f14e19;
	margin-top:-1%;
	height:auto;

}
#quem3{
	background:none;
	margin-top:-1%;
	height:auto;
}

#quemimg{
	float:left;
	max-width:100%;
	padding:22px 0px 0px 0px;
	font-family: 'Open Sans Condensed', sans-serif;
}

#quemtext p{
	color:#fff;
	text-align:justify;
	padding:32px 0px 0px 0px;
	font-size:20px;
	font-family: 'Open Sans Condensed', sans-serif;

}

#quemtext{
		font-family: 'Open Sans Condensed', sans-serif;
		color: #505050;
		padding: 20px 10px 10px 10px;
		text-align: justify;
		font-size: 17px;
}

.seta-baixo {
width: 0;
height: 0;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-top: 10px solid #f15a29;
margin-top: -15px;
position: relative;
z-index: 10;
}


.seta-baixo2 {
width: 0;
height: 0;
border-left: 50px solid transparent;
border-right: 50px solid transparent;
border-top: 50px solid #efefef;
margin-top: -15px;
position: relative;
z-index: 10000;
}

#quemsomos{
	position: relative;
	margin-top: -15px;
}
/* galeria */

.imgContainer {
   margin: 1px;
  overflow: hidden;
  text-align: center;
  float: left;
  display: block;
}
.imgContainer:hover{
 
}
#galleryTab {
  margin: 10px 5px 20px 0;

  top: 26px;
  width: 450px;
}
.galleryWrap {
  padding: 0 0 30px;
}
.filter {
  color: #727272;
  float: left;
  font-size: 12px;
  margin: 0 12px 0 0;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  background: #efefef;
}
.filter:hover {
  background-color: #e5e5e5;
  margin: -1px 11px 1px 1px;
  border-left: solid 1px #aaa;
    text-decoration: none;

}
.filter.active {
  background-color: #f15a29;
  color: #FFF;
  cursor: pointer;
  margin: 0 12px 0 0;
    text-decoration: none;

}

#image:hover{
	 opacity: 0.9;
	 background: #ccc;
}


.legenda p {
    margin-top:-13%;
    font-family: 'Open Sans Condensed', sans-serif;
     background:none;
     position: absolute;
     width: 100%;
     height: 50px;
 }

.legenda{
    line-height: 25px;
    color: transparent;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.legenda:hover{
    color: #fff;
    line-height:50px;

}







@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}
@media screen and (max-width: 800px) {

#web{
	width:100%;
	float:left;
	
	
}

#video{
	width:91.5%;
	float:left;
}

#topicos p{
	font-size:13px;
	text-align:center;
	padding:10px;
}

#topicos li{
	font-size:13px;
	text-align:center;
	list-style:none;
	padding:10px;
}

#topictitle{
	padding:10px 5px;
	max-width:100%;
}

#appletext{
	text-align:center;
}

#apple img{
	margin-top:0;
	border-top:1px solid #aeaeae;
	border-left:none;

}

#apple{
	margin-left:0;
}

#trabalhos{
	float:left;
	padding:20px 0px;
	max-width:100%;
	display:none;
}

#trabalhos2{
	float:left;
	padding:20px 0px;
	max-width:100%;
	border-bottom:2px solid #f15a29;
	display:block;	
}

#topicos{
	margin-left:-5%;
}

#logo{
	padding:25px 10px 0px 10px;
	max-width:100%;
}

#cursos{
	margin-top:none;
}

#logo2{
	padding:13px 0px 0px 0px;
	max-width:100%;
}

#logo3{
	display:block;
	
}

#logo4{
	padding:13px 0px 0px 0px;
	max-width:100%;
	border-bottom:1px solid #aeaeae;
	padding-bottom:5px;
}

#roda{
	width:100%;
	height:auto;
	background:#efefef;
}

#logo2{
	display:none;
}


#roda a{
	text-decoration:none;
}

#roda li{
	width:auto;
	display:inline-table;
	padding:13px 5px 10px 5px ;
	height:40px;
	-webkit-transition: all .5s;
    transition: all .5s;
}

#roda li:hover{
	background:#dbdbdb;
	-webkit-transition: all .5s;
    transition: all .5s;
		
}

#menu2{
	margin-top:none;
}

#dombosco{
	display:none;
}


#socialmobile{
	margin-left:28%;
	display:block;
}

#socialmobile li{
	display:inline;
	float:left;
	margin-top:-1px;
}

#facebook{
	height:50px;
	width:50px;
	background:#aeaeae;
	border:1px solid #bababb;
	border-top:none;
	border-bottom:none;
}

#facebook:hover{
	background:#9d9d9d;
}



#social{
	margin-left:28%;
	display:none;
}

#rodapeli{
	display:none;
}

#rodapeli2{
	display:inline;
}


/* sobre o curso */

#quem1{
	background:#f15a29;
}

#quemimg{
	float:none;
}

#quem2{
	background:#e15528;
	height:auto;
	margin-top:-4%;
}

nav{
	display: off;
}

}